@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch:wght@400;700&display=swap');


.link {
  position: relative;
  /* required for the pseudo-element to be positioned correctly */
  color: white;
  /* initial color of the text */
  transition: color 0.15s ease-in-out;
  /* transition for the text color */
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  /* color of the hover box */
  transition: width 0.15s ease-in-out;
  /* transition for the hover box */
}

.link:hover {
  color: black;
  /* text color when hovered */
}

.link:hover::before {
  width: 100%;
  /* width of the hover box when hovered */
}

.link2 {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #ff0080;
  border-radius: 0.50rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link2:hover {
  background-color: #b30059;
  color: #ffffff;
  text-decoration: none;
}

.link2:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #b30059;
}

.animate-text {
  animation: text-animation 0.5s ease-in-out;
}

@keyframes text-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

body {
  background: black;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
}

.container {
  text-align: left;
}

.glitch {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 750ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

.bg-blue-500 {
  background-color: rgb(153, 0, 255);
}

.text-white {
  color: white;
}

.text-lg {
  font-size: 18px;
}